.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}
.main {
    width: 400px;
    height: 250px;
    background-color: #80bfa8;
    display: flex;
}
.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
.right {
    width: 250px;
    height: 250px;
    background-color: #dbd400;
}
.right-top {
    width: 250px;
    height: 150px;
    background-color: #dbd400;
    display: flex;
}
.right-top-left {
    width: 150px;
    height: 150px;
    background-color: #dbd400;
}
.right-top-left-top {
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}
.right-top-left-bottom {
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}
.right-top-right {
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
}
.right-bottom {
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}
.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

@media screen and (max-width: 767px) {
    
}
@media screen and (max-width: 479px) {
.header {
    width: 150px;
}
.main {
    display: block;
    width: 150px;
}
.right-top {
    display: block;
}
}