@media screen and (max-width: 479px) {
    .header {
        width: 200px;
        flex-direction: column;
        justify-content: center;
    }
    .box {
        margin-right: 70px;
        flex-direction: column;
    }
    .main {
        flex-direction: column;
    }
}